# Local reference files
execution_reference.md
terminal_history.md

# VPN files and certs
*.ovpn
*.crt
*.key
clientvpn-certs/

# Terraform state and folders
.terraform/
terraform.tfstate*
*.tfvars

# AWS Credentials (just in case)
*.csv
credentials
config
