# Local reference files
reference_logs/

# VPN files and certs
*.ovpn
*.crt
*.key
clientvpn-certs/

# Terraform state and folders
.terraform/
terraform.tfstate*
*.tfvars

# AWS Credentials (just in case)
*.csv
credentials
config

# OS Files
.DS_Store
